# Compiled development stuff
/_build/
/.elixir_ls/

# The directory Mix downloads your dependencies sources to.
/deps/
/.fetch

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Build artifacts
*.ez
ex_animal_identicon-*.tar

# Temporary files, for example, from tests.
/tmp/

# Editor configs
/.vs_code/
